# Binaries for programs and plugins
*.exe
*.pid
*.exe~
*.dll
*.so
*.dylib

.idea/
.vscode/
lets-proxy.iml
state.json
certificates/
log.txt
whitelist.txt

# Output of the go coverage tool, specifically when used with LiteIDE
*.out
lets-proxy
panic.txt
quic-reverse-proxy
